{% set title = 'About' %}
{% extends 'default.html' %}

{% block body %}

  <h1>
    {{ title }}
  </h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque
    condimentum erat, et mattis turpis interdum quis. Nunc dignissim eleifend
    nibh, eu hendrerit justo tincidunt quis. Proin magna mi, hendrerit eu
    pellentesque eget, posuere ac nulla. Fusce id felis non sapien pellentesque
    vehicula vel in mi.
  </p>

  <a href="about/history.html">History</a>

  <hr>

  <h2>
    Family members
  </h2>

  {% for person, bio in data.family %}
    <li>
      <a href="about/family/{{ person|lower }}.html">{{ person }}</a>
    </li>
  {% endfor %}

{% endblock %}